In [2]:
import pandas as pd
from pandas import DataFrame

from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import lightgbm
from lightgbm import LGBMRegressor
from lightgbm import LGBMClassifier

%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

In [3]:
data=pd.read_csv('유동인구일집계_202005.csv',encoding='cp949')
data.head()
data=data.drop('24시간코드',axis=1)
data=data.drop('기준일자',axis=1)
data.dtypes

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

성별코드       object
연령대구분값     object
행정동번호      object
인구수       float64
dtype: object

In [4]:
data2=data.groupby(by=['행정동번호', '연령대구분값','성별코드'], as_index=False).sum()
data2

    행정동번호  연령대구분값 성별코드       인구수
0     가회동  age_00    F    1099.0
1     가회동  age_00    M     852.0
2     가회동  age_10    F    3608.0
3     가회동  age_10    M    2794.0
4     가회동  age_15    F   14127.0
..    ...     ...  ...       ...
471   혜화동  age_60    M  108857.0
472   혜화동  age_65    F   48500.0
473   혜화동  age_65    M   66709.0
474   혜화동  age_70    F   58926.0
475   혜화동  age_70    M   75498.0

[476 rows x 4 columns]

In [5]:
data2.to_csv("abc.csv")